body {
  background-color: #ECECEC;
  font-family: "明朝体","ヒラギノ明朝";
  color: #636363;
}

textarea {
  resize: none;
  height: 100px;
}

.table {
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #636363;
}

.table td {
  border-top: 1px #E0E0E0 solid;
  border-bottom: 0;
}

.main-contents {
  margin-top: 60px;
}

.table tr button {
  opacity: 0;
}

.table tr:hover button {
  opacity: 1;
}

.display-none {
  display: none;
}

.is-valid {
  color: #50a84a;
  font-size: 11px;
}

.is-invalid {
  color: #ad4444;
  font-size: 11px;
}

.is-valid-textbox {
  border-color: #50a84a;
}

.is-invalid-textbox {
  border-color: #ad4444;
}

.w-19 {
  width: 19%;
}

.w-24 {
  width: 24%;
}

.w-49 {
  width: 49%;
}

